<div class="main-header">
  <div class="group">
    <p>hogefuga</p>
  </div>
  <div class="endbutton">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="mainchat">
    <div class="message-box">
      <div class="sender-info">
        <div class="sender">Tom</div>
        <div class="time">2020/08/25(Tue) 19:17:33</div>
      </div>

        <div class="message">おはよう</div>
    
    </div>
    <div class="messaage-box">
      <div class="sender-info">
        <div class="sender">Tom</div>
        <div class="time">2020/08/25(Tue) 19:17:33</div>
      </div>
      <div class="message">おはよう</div>
    </div>
</div>

<%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f|%>
  <div class="main-footer">
    <%= f.text_field :content, class: 'message-form',placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  <%= f.submit '送信', class: 'message-commit' %>

  </div>
<% end %>