.wrapper{
  display: flex;
}

.sidebar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name a{
  font-size: 16px;
  color: #fafafa;
}
.create a{
  font-size: 10px;
  text-decoration: none;

}
.make-chatroom a{
  padding: 14px;
  border: 1px solid lightblue;
  color:deepskyblue;
  text-decoration: none;
}

.side-main{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
}
.room{
  padding:20px 0 40px;
}
.room-name a{
  text-decoration: none;
  color: white;
}


.main{
  width: calc(100vw - 300px);
  background-color: #fff;
}

.main-header{
  height: 100px;
  padding: 0 40px;
}
.mainchat{
  background-color: #fafafa;
  height: calc(100vh - 190px);
  padding: 46px 40px 0;
}
.main-footer{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}